{

	presets: [
		'es2015',
		'react'
	],

	env: {

		"node": {

			plugins: [
		        [
		            "css-modules-transform", {
						"preprocessCss": "./tools/preprocess/babel-scss.js",
						"generateScopedName": '[hash:base64:5]',
						"extensions": [".scss"]
		            }
				]
		    ]

		}

	},

	"plugins": [
		"transform-object-rest-spread",
		"add-module-exports"
	]

}