@import 'variables';
@import "sass-mq/mq";

.wrapper {
	padding: 0;
}

.list {
	padding: 0;
}

.item {
	display: flex;
	padding-top: map-get($spacers, unit);
	padding-bottom: map-get($spacers, unit);
	border-bottom: 1px solid gray;
	align-items: center;
}

.label {
	text-transform: capitalize;
	flex: 1;
}

.odd {
	color: map-get($colors, secondary);
}

.button {
	width: 120px;
}

.add {
	width: 100%;
}