//@value font-size-lg, font-size-sm from "utilities/_font-size.scss";
//@value font-family-serif from "utilities/_font-family.scss";

@import 'variables';
@import "sass-mq/mq";

.wrapper {
	padding: 0;
}

.list {
	padding: 0;
}

.item {
	display: flex;
	padding-top: map-get($spacers, unit);
	padding-bottom: map-get($spacers, unit);
	border-bottom: 1px solid gray;
	align-items: center;
}

.label {
	text-transform: capitalize;
	flex: 1;
}

.odd {
	color: map-get($colors, secondary);
	//composes: font-family-serif;
}

.button {
	width: 120px;
	//composes: font-size-sm;
}

.add {
	width: 100%;
}