$spacers: (
	unit: 12px
);


$colors: (
	primary: red,
	secondary: green
);

$mq-breakpoints: (
	mobile: 480px,
	s-tablet: 768px,
	l-tablet: 992px,
	desktop: 1200px
);

$flexboxgrid: (
	columns: 12,
	gutterWidth: map-get($spacers, unit),
	maxWidth: 1650px,
	breakpoints: (
		xs: 'max-width: #{map-get($mq-breakpoints, s-tablet) -1}',
		sm: 'min-width: #{map-get($mq-breakpoints, s-tablet)}',
		md: 'min-width: #{map-get($mq-breakpoints, l-tablet)}',
		lg: 'min-width: #{map-get($mq-breakpoints, desktop)}'
	)
);

$typography: (
	font-family: (
		sans-serif: (
			font-family: ('varelaround-regular', Arial sans-serif)
		),
		serif: (
			font-family: ('Playfair Display', serif)
		)
	),
	size: (
		xs: (
			font-size: 0.75rem,
			line-height: 1.5
		),
		sm: (
			font-size: 0.875rem,
			line-height: 1.3
		),
		md: (
			font-size: 1.125rem,
			line-height: 1.2
		),
		lg: (
			font-size: 1.5rem,
			line-height: 1.8
		),
		xl: (
			font-size: 3rem,
			line-height: 1
		)
	)
);

$z-index: (
	header: 1,
	footer: 2
);