.wrapper {

	text-align: center;

}

.content {

	min-width: 100px;
	height: 200px;

	img,
	video,
	svg {

		width: 100%;
		height: 100%;
		max-width: 100%;
		max-height: 100%;
		object-fit: contain;
		
	}

}